<form [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <input class="menuName" matInput formControlName="name" />
  </mat-form-field>
  <div
    class="dish"
    formArrayName="details"
    *ngFor="let detail of details.controls; let i = index"
  >
    <div formGroupName="{{ i }}">
      <mat-form-field>
        <input matInput formControlName="dish"
      /></mat-form-field>
      <mat-form-field>
        <input matInput formControlName="price"
      /></mat-form-field>
    </div>
  </div>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="onFormSubmit()"
  >
    Submit
  </button>
</form>
