<form [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Menu Name</mat-label>
    <input class="menuName" matInput formControlName="name" />
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <div
    class="dish"
    formArrayName="details"
    *ngFor="let detail of details.controls; let i = index"
  >
    <div formGroupName="{{ i }}">
      <mat-form-field>
        <mat-label>Dish</mat-label>
        <input matInput formControlName="dish" />
        <mat-icon matSuffix>mode_edit</mat-icon></mat-form-field
      >
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
        <mat-icon matSuffix>mode_edit</mat-icon></mat-form-field
      >
    </div>
  </div>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="onFormSubmit()"
  >
    Submit
  </button>
</form>
